body {
  background-color: #f0f5f5;
}
p {
  color: black;
  font-size: 16px;
}
/* Menu */
/* Top Navigation Menu */
.navbar-fixed-top {
  background-color: #d1e0e0!important;
  border: none!important;
}
.navbar-toggle {
  border: none!important;
}
.navbar-brand {
  color: white!important;
}
.navbar-nav > li > a {
  /* overwright bootstrap css with !important */
  color: white!important;
  font-size: 16px;
}
.navbar-nav > li > a:hover {
  color: grey!important;
}
.navbar-nav > .active > a {
  background-color: transparent!important;
  color: black!important;
}
.logo {
  width: 48px;
  height: 48px;
  float: left;
  margin-left: 1.4%;
}
/* Side Navigation Menu */
.navbar-fixed-left {
  background-color: #c2d6d6!important;
  border: none!important;
  border-radius: 0;
  width: 17%;
  position: fixed;
  height: 100%;
}
.navbar-fixed-left .navbar-nav > li {
  float: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.navbar-fixed-left .navbar-nav > li > a {
  font-size: 20px;
}
/* Header */
h1.mainHeader {
  color: black;
  font-family:
}
/* Body */
.col-lg-12 {
  width: 90%;
  margin-left: 15.5%;
  margin-right: 10%;
  background-color: #e0ebeb;
  color: white;
  text-align: center;
  border-radius: 5px;
}
img {
  width: 380px;
  height: 300px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
